.header-container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    background-image: url('./images/Header\ background.png');
    background-size: cover;
    height: 80px;
}

.title-container {
    display: flex;
    align-items: center;
    margin-left: 30px;
}

.title-container > p {
    color: white;
    font-size: xx-large;
    font-family: 'Karla';
    margin-left: 15px;
    font-weight: bold;
}

.title-container > img {
    height: 60px;
}

.course-container > p {
    color: white;
    font-size: 15px;
}

.course-container {
    align-items: center;
    margin-right: 30px;
}

.input-container {
    display: flex;
    margin-top: 50px;
    justify-content: space-evenly; /* Horizontal centering */
    align-items: center;
}

.input-container > input {
    width: 500px;
}

.button-container {
    display: flex;
    justify-content: center; /* Horizontal centering */
    align-items: center;
}

.button-container > button {
    justify-content: center;
    width: 1303px;
    background-image: url('./images/Header\ background.png');
    background-size: cover;
    height: 40px;
}

.meme-button > p {
    color: white;
    font-size: large;
    font-weight: bold;
    margin-top: 5px;
}

.img-container {
    margin-top: 50px;
    display: flex;
    justify-content: center; /* Horizontal centering */
    align-items: center;
}

.img-container > img {
    height: 500px;
    width: 700px;
}

.top-overlay {
    position: absolute;
    color: white;
    -webkit-text-stroke: 1.5px black;
    font-size: 50px;
    font-weight: bolder;
    top: 32%; /* Adjust the vertical positioning as needed */
    left: 50%; /* Adjust the horizontal positioning as needed */
    transform: translate(-50%, -50%); /* Center the text within the container */
    background-color: transparent; /* Background color with opacity */
    padding: 10px; /* Add padding for better readability */
}

.bottom-overlay {
    position: absolute;
    color: white;
    -webkit-text-stroke: 1.5px black;
    font-size: 50px;
    font-weight: bolder;
    top: 75%; /* Adjust the vertical positioning as needed */
    left: 50%; /* Adjust the horizontal positioning as needed */
    transform: translate(-50%, -50%); /* Center the text within the container */
    background-color: transparent; /* Background color with opacity */
    padding: 10px; /* Add padding for better readability */
}